{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="http://localhost/symfony/web/assets/css/login.css">
{% endblock %}

{% block body %}
    <div class="login">
        <h2>Login</h2>


        <form action="{{ path('login_check') }}" method="post">
            <div class="input-group divN">
                <span class="input-group-addon "><i class="glyphicon glyphicon-user"></i></span>
                <input id="lastname"  type="email" class="form-control" name="_username" placeholder="email">
            </div>

            <div class="input-group divP">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="password"  type="password" class="form-control" name="_password" placeholder="Password">
            </div>
            <div>
                <label for="">Se souvenir de moi</label>
                <input type="checkbox"  name="remember_me"></div>
            <div>

                <input class="inputL" type="submit" name="s">
            </div>

        </form>
    </div>
    </div>
{% endblock %}