{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="http://localhost/symfony/web/assets/css/register.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div >
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}



