{% extends ("::base.html.twig") %}

{% block title %}{% endblock %}
 {% block stylesheets %}
  <link rel="stylesheet" href="http://localhost/symfony/web/assets/css/index.css">

 {% endblock %}


{% block body %}
    <div class="container">
        <h1>Bienvenue</h1>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}